extends layout

block layout-content
  h1 #{refname} Results
  div.row
    div.col-xs-6
      div.panel.panel-primary
        div.panel-heading
          h2.panel-title Pipeline Results
        div.panel-body
          ul
            li
              a(href="/multiqc") MultiQC Report
            li.dropdown
              a(href="/nf-report/latest") Nextflow Report
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span.caret
              ul.dropdown-menu
                each report in nfreports
                  li
                    a(href=`/nf-report/${report.timestamp}`)= report.timestamp
            li
              a(href="/nf-timeline/latest") Nextflow Timeline
            li
              a(href="/nf-trace/latest") Nextflow Trace
            li
              a(href="/nf-dag/latest") Nextflow
    div.col-xs-6
      div.panel.panel-primary
        div.panel-heading
          h2.panel-title Sample Results
        div.panel-body
          table.table.table-striped.table-responsive.table-hover
            each sample in samples
              tr
                td=sample.samplename
                td
                  a(href=`/alignments/${sample.samplename}`) Alignment
                td
                  if sample.hastree
                    a(href=`/phylogenetics/${sample.samplename}`) Phylogenetic Tree
                  else
                    span.label.label-warning No phylogenetic results
