extends layout

block layout-content
  h1 #{refname} Results
  div.row
    div.col-2
      div.card.mb-3.mx-3
        div.card-header
          h2.card-title Pipeline Results
        div.card-body
          ul
            li
              a(href="/multiqc") MultiQC Report
            li.dropdown
              a(href="/nf-report/latest") Nextflow Report
              a.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                span.caret
              .dropdown-menu
                each report in nfreports
                  a(href=`/nf-report/${report.timestamp}`).dropdown-item= report.timestamp
            li.dropdown
              a(href="/nf-timeline/latest") Nextflow Timeline
              a.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                span.caret
              .dropdown-menu
                each timeline in nftimelines
                  a(href=`/nf-timeline/${timeline.timestamp}`).dropdown-item= timeline.timestamp
            li.dropdown
              a(href="/nf-trace/latest") Nextflow Trace
              a.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                span.caret
              .dropdown-menu
                each trace in nftraces
                  a(href=`/nf-trace/${trace.timestamp}`).dropdown-item= trace.timestamp
            li.dropdown
              a(href="/nf-dag/latest") Nextflow Graph
              a.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                span.caret
              .dropdown-menu
                each dag in nfdags
                  a(href=`/nf-dag/${dag.timestamp}`).dropdown-item= dag.timestamp
      .card.mb-3.mx-3
        .card-header
          h2.card-title Reference Genome Results
        .card-body
          ul
            li.dropdown
              a(href=`/reference/${refname}.fasta`)
                i.fas.fa-download
                | &ensp; Download sequence
              a.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                span.caret
              .dropdown-menu
                a(href=`/reference/${refname}.fasta.fai`).dropdown-item
                    i.fas.fa-download
                    | &ensp; Download index
            li
              a(href=`/reference/${refname}.gff`)
                i.fas.fa-download
                | &ensp; Download annotation
    div.col-10
      div.card.mb-3.mx-3
        div.card-header
          h2.card-title Sample Results
        div.card-body
          .table-responsive
            table.table.table-striped.table-hover.table-sm
              tr
                th Sample Name
                th Classification
                th Alignment
                th Assemblies
                th Variant Calls
                th Haplotypes
                th Multiple Alignments
                th Phylogenetics
              each sample in samples
                tr
                  th=sample.samplename
                  if haskraken
                    td
                      ul
                        li
                          a(href=`/classification/${sample.samplename}.kreport`)
                            i.fas.fa-download
                            | &nbsp; Report
                        li
                          a(href=`/classification/${sample.samplename}.kraken`)
                            i.fas.fa-download
                            | &nbsp; Assignments
                  else
                    td.table-warning
                    i.fas.fa-exclamation
                    | Read filtering skipped
                  td
                    a(href=`/alignments/${sample.samplename}`)
                      i.fas.fa-stream
                      | &nbsp; Interactive Viewer
                    ul
                      li.dropdown
                        a(href=`/alignment/${sample.samplename}.bam`)
                          i.fas.fa-download
                          | &nbsp; BAM File
                        a(href="#", data-bs-toggle="dropdown").dropdown-toggle
                          span.caret
                        .dropdown-menu
                          a(href=`/alignment/${sample.samplename}.bam.bai`).dropdown-item
                            i.fas.fa-download
                            | &nbsp; BAM Index
                    if sample.hascontigs
                      td
                        ul
                          li
                            a(href=`/assembly/sequence/${sample.samplename}.contigs.fasta`)
                              i.fas.fa-download
                              | &nbsp; Sequences
                          li.dropdown
                            a(href=`/assembly/alignment/${sample.samplename}.contigs.bam`)
                              i.fas.fa-download
                              | &nbsp; Alignment
                            a(href="#", data-bs-toggle="dropdown").dropdown-toggle
                              span.caret
                            .dropdown-menu
                              a(href=`assembly/alignment/${sample.samplename}.contigs.bam.bai`).dropdown-item
                                i.fas.fa-download
                                | &nbsp; BAM Index
                    else
                      td.table-warning
                        i.fas.fa-exclamation
                        | &nbsp;
                        i de novo
                        |  assembly failed
                    if sample.hasvariants
                      td
                        ul
                          li
                            a(href=`/variants/${sample.samplename}.vcf`)
                              i.fas.fa-download
                              | &nbsp; Variant VCF
                    else
                      td.table-warning
                        i.fas.fa-exclamation
                        | &nbsp; No variants table
                  td
                    ul
                      li
                        a(href=`/haplotypes/${sample.samplename}.haplotypes.fasta`)
                          i.fas.fa-download
                          | &nbsp; Sequences
                        if platform == 'ont'
                          li
                            a(href=`/haplotypes/${sample.samplename}.haplotypes.yaml`)
                              i.fas.fa-download
                              | &nbsp; Stats &amp; data
                        else
                          li
                            a(href=`/haplotypes/${sample.samplename}.haplotypes.json`)
                              i.fas.fa-download
                              | &nbsp; Stats &amp; data
                  td
                    ul
                      li
                        a(href=`/multi_alignment/${sample.samplename}.haplotypes.fas`)
                          i.fas.fa-download
                          | &nbsp; FASTA Alignment
                    if sample.hastree
                      td
                        a(href=`/phylogenetics/${sample.samplename}`)
                          i.fas.fa-tree
                          | &nbsp; Tree Viewer
                    else
                      td.table-warning
                        i.fas.fa-exclamation
                        | &nbsp; No phylogenetic results
