extends layout

block layout-styles
  link(rel="stylesheet", href="/css/phylotree/phylotree.css", type="text/css")

block layout-content
  h1 #{ samplename }
  .row
    .col-12
      .btn-group.mx-1(role="group")
        button.btn.btn-primary(
          type="button",
          data-direction="vertical",
          data-amount="1",
          title="Expand vertical spacing"
        )
          i.fas.fa-arrows-alt-v
        button.btn.btn-primary(
          type="button",
          data-direction="vertical",
          data-amount="-1",
          title="Compress vertical spacing"
        )
          i.fas.fa-compress-alt(data-fa-transform="rotate-135")
        button.btn.btn-primary(
          type="button",
          data-direction="horizontal",
          data-amount="1",
          title="Expand horizontal spacing"
        )
          i.fas.fa-arrows-alt-h
        button.btn.btn-primary(
          type="button",
          data-direction="horizontal",
          data-amount="-1",
          title="Compress horizontal spacing"
        )
          i.fas.fa-compress-alt(data-fa-transform="rotate-45")
      .btn-group.mx-1(role="group")
        button#sort-ascending.btn.btn-primary(
          type="button",
          title="Sort deepest clades to the bottom"
        )
          i.fas.fa-sort-amount-down-alt
        button#sort-descending.btn.btn-primary(
          type="button",
          title="Sort deepest clades to the top"
        )
          i.fas.fa-sort-amount-up-alt
      .btn-group.mx-1(role="group")
        button#save-image.btn.btn-primary(type="button", title="Save image")
          i.fas.fa-file-image
      .btn-group.mx-1(role="group")
        button.btn.btn-primary.phylotree-layout-mode.active(
          type="button",
          title="Linear",
          data-mode="linear"
        )
          i.fas.fa-align-left
        button.btn.btn-primary.phylotree-layout-mode(
          type="button",
          title="Radial",
          data-mode="radial"
        )
          i.fas.fa-circle-notch
      .btn-group.mx-1(role="group")
        button.btn.btn-primary.phylotree-align-toggler.active(
          type="button",
          title="Align left",
          data-align="left"
        )
          i.fas.fa-outdent
        button.btn.btn-primary.phylotree-align-toggler(
          type="button",
          title="Align right",
          data-align="right"
        )
          i.fas.fa-indent
  .row
    .col-12
      #phylotree.my-2.p-3

block layout-scripts
  script(src="/js/d3/d3.js")
  script(src="/js/underscore/underscore-umd-min.js")
  script(src="/js/phylotree/phylotree.js")
  script(src="/js/local/phylotree-utils.js")
  script.
    newick = '#{sampletree}';
    tree = new phylotree.phylotree(newick);
    rendered_tree = tree.render({
      container: '#phylotree',
    });
    $(tree.display.container).empty();
    $(tree.display.container).html(tree.display.show());
